@import 'mixin';
@include fontFace(NexaBold, "fonts/NexaBold");
/*Chargement du font Nexa
@include font-face (
  "nexaBold",
  font-files("../../../fonts/NexaBold.eot","../../../fonts/NexaBold.otf","../../../fonts/NexaBold.woff","../../../fonts/NexaBold.ttf")
)
*/
//Chargement de Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: $roboto;
	font-size: 14px;
	color: #666666
}

.title-l {
	font-size: 24px;
	font-weight: normal;
}