input {
	@include roundcorner (2px);
	border: none;
	padding: 5px 10px;
	color: #666666;
	font-size: 16px;
}
button {
    margin: 0 auto;
    display: block;
    background: $cyan;
    border: none;
    color: #fff;
    padding: 7px 15px;
	min-width:120px;
    border-radius: 2px;
	&:hover {
		background-color:lighten($cyan,5%)
	}
}
